.todoBox{
    position: relative;
    left: 40%;
    width: 380px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow:0 0 10px #666666
}
.todoHeader{
    padding: 2px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background-color: #1B9AF7;
    color: #FFFFFF;
}
.todoList{
    padding-left: 0;
}
.todoItem{
    padding-left: 10px;
    list-style: none;
}
.deleteBtn{
    float: right;
    margin-right: 20px;
    display: none;
    background-color: #FF4351;
    color: #FFF;
    border-radius: 4px;
    border: none;
}

.todoFooter{
    border-top: 2px solid #1B9AF7;
    padding: 10px;
}
.todoInput{
    margin: 0 auto;
    padding: 0 10px;
    width: 200px;
    height: 28px;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 4px;
}
.submitBar{
    float: right;
    margin-right: 20px;
}
.submitBtn{
    color: #FFF;
    cursor: pointer;
    width: 100px;
    border-radius: 4px;
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    box-shadow: 0 1px 0 #0880d7
}